{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tagbookmark_list'|trans ~ tagbookmark.title }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tagbookmark_list'|trans ~ tagbookmark.title }}</h1>
    {% if tagbookmark is defined and tagbookmark|length %}
        <dl class="dl-horizontal">
            <ol>
                {% for row in tagbookmark.bookmarks %}
                    {% if row.author.id == app.user.id or is_granted('ROLE_ADMIN')%}
                        <li>
                            <a href="{{ url('bookmark_view', {id: row.id}) }}" title="{{ row.title }}">{{ row.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}