{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.contact_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.contact_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 't.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 't.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.surname'|trans, 't.surname') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.phone'|trans, 't.phone') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>
                        <a href="{{ url('contact_view', {id: contact.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        <a href="{{ url('contact_edit', {id: contact.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('contact_delete', {id: contact.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="card">
        <a class="btn" href="{{ url('contact_new') }}" title="{{ 'action.new'|trans }}">
            {{ 'action.new'|trans }}
        </a>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
        <div class="card">
            <a class="btn" href="{{ url('contact_new') }}" title="{{ 'action.new'|trans }}">
                {{ 'action.new'|trans }}
            </a>
        </div>
    {% endif %}

{% endblock %}