{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tagcontact_list'|trans ~ tagcontact.title }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tagcontact_list'|trans ~ tagcontact.title }}</h1>
    {% if tagcontact is defined and tagcontact|length %}
        <dl class="dl-horizontal">
            <ol>
                {% for row in tagcontact.contacts %}
                    {% if row.author.id == app.user.id or is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ url('contact_view', {id: row.id}) }}" title="{{ row.surname }}">{{ row.name ~ (' ') ~ row.surname }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}