{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.admin_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.admin_panel'|trans }}</h1>
    <dd>
        <td>
            <a href="{{ url('admin_user_index') }}" title="{{ 'title.user_list'|trans }}">
                {{ 'title.user_list'|trans }}
            </a><br>
        </td>
        <td>
            <a href="{{ url('note_index_admin') }}" title="{{ 'title.note_list'|trans }}">
                {{ 'title.note_list'|trans }}
            </a><br>
        </td>
        <td>
            <a href="{{ url('bookmark_index_admin') }}" title="{{ 'title.bookmark_list'|trans }}">
                {{ 'title.bookmark_list'|trans }}
            </a><br>
        </td>
        <td>
            <a href="{{ url('calendar_index_admin') }}" title="{{ 'title.calendar_list'|trans }}">
                {{ 'title.calendar_list'|trans }}
            </a><br>
        </td>
        <td>
            <a href="{{ url('contact_index_admin') }}" title="{{ 'title.contact_list'|trans }}">
                {{ 'title.contact_list'|trans }}
            </a><br>
        </td>
    </dd>

{% endblock %}